.vscode
.env
backend/uploads
frontend/only_app.py
__pycache__
check
output
sample_images
_annotations.coco_merged.json
100T_plan_page-0001_jpg.rf.00bb5b9ab04fe4cb8bd407177f69f0f8_x0_y490.json
analyze.py
demo3.png
final_pred.json
group_boxes_4_101.json
backend/NMS.py
backend/only_chunking.py
backend/predictions_for_all_images.py
backend/stitch_all_images.py
backend/zip_all_formats.py
frontend/ngrok.py
dataset